Main information
Deadline: June 14th, 23:59

Submission formats:
Jupyter Notebook, submit a link to the notebook file, the dataset file and link to online page(for pilots only) via the form.


Dataset selection:
After you choose a dataset for the project, submit it to the form.
When selecting a dataset, check the table with the form responses to make sure nobody else has already picked it up.

Project structure
In the project you should get a dataset and perform some visualization and analysis on the data. It should be structured as a report, showing the steps you took and the information you got about the data.

Your project should contain the following chapters:

Abstract / Annotation. 
No more than 2 paragraphs outlining the main purpose and idea of the work and the distribution of contribution of each member of the team.

Dataset description. 
What subject area is your data from? How many and what kind of fields are in the dataset? What can you say about the data quality: are there any missing values, inconsistent values, wrong data types, etc.? Choosing a composite dataset from several tables, and especially collecting data yourself, for example using parsing, will make your project more powerful.
Descriptive statistics for at least 4 numerical fields. These statistics should include at least mean, median and standard deviation of the fields.

Data cleanup. 
Remove rows with NaN, check that columns have the correct data type. Other steps might be needed depending on data. If your data is already clean, show that it’s clean.
Plots for at least 4 numerical fields. Simple line plots, scatter plots, histograms, and other plots should give an idea of what the data looks like. Choose three different types of plots.
At least 4 plots or outputs for a detailed overview. These should be presented in the form of comparisons: plotting several lines with different conditions on the same figure, printing statistics for subsets of data, plotting two graphs next to each other, etc.
Check some basic statistics of your data. It should tell you whether you need to do data cleanup. For example, if you have NaNs in a few rows, you should probably remove those rows. Sometimes data is given in an inconsistent way, like numbers written as “1M+”, “10k+”, “1k+”. Convert such cases to numbers you can work with: “1000000”, “10000”, “1000”.


Overview
Your notebook should follow a process of exploring the dataset. At first you should show some general ideas about what kind of data you’re dealing with. Outputting some statistics and making simple plots of all data are usually good ways of doing this.

More detailed overview
Then you should provide insights into potentially interesting relations in your data. For example, if a plot shows some data columns are correlated, you can compute the correlation. If you have categorical data, you can try looking at different categories separately. For example, “what is the median salary for workers with different levels of education”. If several columns seem related to each other, this is also where you can add a third level axis as color and try to show the relationship of three variables at once.

Data transformation. 
Modify data from other columns to make new columns. If you haven't had to do data cleanup, add at least two new columns. Otherwise, you may add just one.
Add two new columns to the data frame and fill them with modified data from other columns. 
If you did something similar in data cleanup, add only one column here.

Hypothesis check. 
Come up with at least 2 hypotheses about your data, then plot the relevant figure and/or print the relevant statistics. Check whether your hypotheses were correct. The hypotheses should be more complex than comparing two subsets of data based on a single column. 
At some points the insights you get become complicated. For example, “What is the correlation between salary and number of sales for employees of different education levels? Do people at all levels of education get fairly compensated for increasing the number of sales?” Make hypotheses in this format and test them by drawing figures and/or computing statistics.
If you get the result “there is a change, but it’s quite small, so it’s not clear if it’s significant or not”, it’s totally fine.

Discussion. 
During each step make a small write-up explaining what you do and why. You don’t need to include speculation on underlying causes of your results.
All plots should be done with the aid of Matplotlib or Seaborn or Pandas or Plotly.
Include notes about your hypotheses and the information you can see in your data. Explain in words what can be seen in the images and statistics. You don’t need to speculate on the causes of the results you get, just explain the results themselves.
For example: “Here is a scatter plot comparing car prices and the number of kilometers the cars have driven. There is a downward trend, meaning that as mileage increases, the price decreases.”


Your project page is a report. The final version should contain only the relevant calculations and present them, so that it’s clear what kind of data you’re working with, what insights you’re showing, what your hypotheses are and what results you got after testing them.